@mixin transition-point($md) {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin page-img {
  img {
    display: block;
    width: auto;
    height: auto;
    background-size: cover;
  }
}
