.burger {
  display: none;
  width: 3rem;
  height: 2rem;
  padding: 3px;
  background: none;
  border: none;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 40%;
  left: 2rem;
  transform: translateY(-50%);

  &::before,
  &::after,
  span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $gray;
    position: absolute;
    right: 0;
    border: none;
  }

  &::before,
  &::after {
    content: "";
    transition: transform 0.2s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s linear;
  }

  .show-sidebar & {
    span {
      opacity: 0;
    }

    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }

    &::after {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }
  }

  @include transition-point($tablet-md) {
    display: block;
  }
}
