.feedback-form {
  margin: 0 5vh;
  padding: 1rem;
  background-color: $main;
  box-shadow: 0 15px 25px rgba($gray, 0.35);
  border-radius: 10px;

  @include transition-point($mobile-xs) {
    padding: 0 0 5rem 0;
    margin: 0;
    overflow: auto;
  }
}

.feedback-form__titles {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: $green;
}

.feedback-form__textarea {
  background: transparent;
  font-family: inherit;
  height: 160px;
  width: 50%;
  resize: none;
  color: $blue;
  border-radius: 5px;
  @include transition-point($mobile-xs) {
    padding: 5rem 4.8rem;
  }
}

.feedback-form__input {
  font-family: inherit;
  padding: 1.2rem 2rem;
  color: $blue;
  border-radius: 5px;
  height: 20px;
  width: 20%;
  background: transparent;
  border: solid 2px #3f3e3e;
  @include transition-point($mobile-xs) {
    padding: 5rem 5rem;
    margin: 0;
    width: inherit;
  }
}

.feedback-form__submit {
  margin: 1rem 0;
  padding: 1rem;
  display: block;
  background: $blue;
  border: none;
  border-radius: 3em;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.9;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: $green (15%);
  }
  @include transition-point($mobile-xs) {
    padding: 1.1rem 5rem;
    margin: 1rem;
  }
}
