.feedback-form {
  margin: 1vh 5vh;
  padding: 5rem;
  background-color: $main;
  box-shadow: 0 15px 25px rgba($gray, 0.35);
  border-radius: 10px;
  box-sizing: inherit;
  @include transition-point($tablet-md) {
    margin: 0 0 2rem 0;
    padding: 4rem 1rem;
    overflow: auto;
    height: 100%;
  }
}

.feedback-form__titles {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: $green;
  @include transition-point($tablet-md) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.feedback-form__textarea {
  background: transparent;
  font-family: inherit;
  height: 15vh;
  width: 60%;
  resize: none;
  color: $blue;
  border-radius: 5px;
  padding: 1rem 1rem;
  @include transition-point($tablet-md) {
    padding: 1rem 1rem;
    margin: 0;
    width: 70%;
  }
}

.feedback-form__input {
  font-family: inherit;
  padding: 1.2rem 2rem;
  color: $blue;
  border-radius: 5px;
  height: 20px;
  width: 30%;
  background: transparent;
  border: solid 2px #3f3e3e;
  @include transition-point($tablet-md) {
    padding: 0;
    margin: 0;
    width: 70%;
    height: 3rem;
  }
}

.feedback-form__submit {
  margin: 1rem 0;
  padding: 1.1rem 4rem;
  display: block;
  background: $blue;
  border: none;
  border-radius: 3em;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.9;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: $green (15%);
  }
  @include transition-point($tablet-md) {
    padding: 1.1rem 4rem;
    margin: 0 0.5rem;
    font-size: 1.2rem;
  }
}
