@import "page";
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: $main;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);

  @include transition-point($tablet-md) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    overflow: auto;
    top: 4rem;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

.sidebar__header {
  height: 18rem;
  @include page-img;

  background: url("/src/img/love_english.jpg") no-repeat;
  background-size: cover;
}

.sidebar__content {
  padding: 0 2rem;
  @include transition-point($tablet-md) {
    flex-grow: 1;
  }
}
.profile {
  color: chartreuse;
}
.profile__content-title {
  color: $green;
}
