.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: $main;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
  overflow: hidden;

  @include transition-point($tablet-md) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    top: 4rem;
    transform: translateX(-100%);
    transition: transform 0.1s linear;
    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

.sidebar__header {
  height: 10rem;
  @include page-img;

  background: url("/src/img/love_english.jpg") no-repeat;
}

.sidebar__content {
  padding: 0 1rem;
  font-size: 1rem;
}
.profile {
  color: chartreuse;
  overflow: hidden;

  @include transition-point($tablet-md) {
    .show-sidebar & {
      position: relative;
      display: none;
    }
  }
}
.profile__content-title {
  color: $green;
  filter: brightness(2);
  @include transition-point($tablet-md) {
    .show-sidebar & {
      position: relative;
      display: none;
    }
  }
}
.profile__text {
  text-align: justify;
  font-size: 1.1rem;
}
