.header {
  display: flex;
  width: calc(100% - #{$sidebar-width});
  background-color: #0d0d0d;
  box-shadow: 0 1px 22px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  @include transition-point($tablet-md) {
    width: 100%;
  }
}

.header__left {
  display: flex;
  width: 60%;
  @include transition-point($tablet-md) {
    width: 40%;
  }
}
.header__right {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin: 0 0 0 10rem;
  @include transition-point($tablet-md) {
    width: 60%;
    margin: 0 0 0 10rem;
  }
}
