.main {
  overflow: hidden;
  padding-top: 5rem;
  padding-left: $sidebar-width;
  background-color: darkgrey;
  height: 100vh;

  @include transition-point($tablet-md) {
    padding-left: 0;
    overflow: auto;
  }
}
.main__title {
  justify-content: center;
  margin: 1vh 5vh;
  @include transition-point($tablet-md) {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
}
