.page {
  padding: 1rem 2rem;
  background-color: $main;
  box-shadow: 0 15px 25px rgba($gray, 0.35);
  border-radius: 10px;
  margin: 1vh 5vh;
  @include transition-point($mobile-xs) {
    margin: 0;
    padding: 3rem 1rem;
    overflow: auto;
  }
}

.page__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: $blue;
  font-weight: 500;
}
.page__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: rgba($blue, 0.6);
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.page__header {
  margin: 0 0 0.5rem;
}

.page__content {
  margin-bottom: 1.5rem;
  @include page-img;
}
.page__text {
  font-size: 1.5rem;
  color: #d2d2d2;
  text-align: justify;
}
.page__content-subtitle {
  color: $gray;
}
.page__content-title {
  color: $gray;
}
.page__text-img {
  width: 275px;
  height: 195px;
  margin: auto;
  background: url("/src/img/move_now.jpg") no-repeat;
  @include transition-point($mobile-xs) {
    display: none;
  }
}

.page__title.page__title--start {
  color: $turquoise;
}
.page__title.page__title--start {
  color: $turquoise;
  filter: brightness(2.5);
}
