.search {
  width: 100%;
  max-width: 21rem;
  background-color: $main;
}

.search__input {
  display: block;
  width: 70%;
  padding: 1.2rem 2rem;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: $blue;
  &::placeholder {
    color: rgba($blue, 0.4);
  }
  @include transition-point($mobile-xs) {
    margin: 0 1rem;
    padding: 1rem 0;
    width: 100%;
  }
}
