html {
  height: 100%;
  font-size: 18px;
  width: 100%;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
@import "vars";
@import "mixins";
@import "header";
@import "header-nav";
@import "search";
@import "header-sidebar";
@import "main";
@import "container";
@import "page";
@import "course";
@import "feedback-form";
@import "burger";
