html {
  height: 100%;
  font-size: 13px;
}
body {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
@import "vars";
@import "mixins";
@import "header";
@import "header-nav";
@import "search";
@import "header-sidebar";
@import "main";
@import "container";
@import "page";
@import "course";
@import "feedback-form";
@import "burger";
